---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary, email } = Astro.props;
---

<section class="py-24 md:py-32" id="#hero">
  <h1
    class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:mb-0 md:text-9xl"
  >
    {name}
  </h1>
  <p
    class="mb-16 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-primary sm:text-5xl md:text-6xl"
    set:html={specialty}
  ></p>
  <p class="mb-16 text-base font-normal text-neutral md:text-lg">
    {summary}
  </p>

  <div class="flex flex-col md:flex-row gap-4 md:gap-8 justify-center">
    <button
      class="inline-block min-w-[180px] text-center rounded-full bg-blue-600 px-8 py-5 text-sm leading-5 font-medium text-white transition-all duration-300 shadow-md hover:bg-blue-700 focus:bg-blue-700 -translate-y-0 hover:-translate-y-1 focus:-translate-y-1 shadow-md hover:shadow-xl focus:shadow-xl"
      onclick="document.getElementById('experience').scrollIntoView({ behavior: 'smooth' });"
      type="button"
    >
      Know More
    </button>
    <a
      class="inline-block min-w-[180px] text-center rounded-full bg-blue-600 px-8 py-5 text-sm leading-5 font-medium text-white transition-all duration-300 shadow-md hover:bg-blue-700 focus:bg-blue-700 -translate-y-0 hover:-translate-y-1 focus:-translate-y-1 shadow-md hover:shadow-xl focus:shadow-xl"
      href="https://drive.google.com/file/d/1R05JOmihRptE7Lzj3tLgk7DSuJuKtcqo/view"
      target="_blank"
      rel="noopener noreferrer"
    >
      Download CV
    </a>
  </div>
</section>
